HOMEPAGE_REVALIDATION=
HOMEPAGE_LIMIT=

NEXT_PUBLIC_FIREBASE_apiKey=
NEXT_PUBLIC_FIREBASE_authDomain=
NEXT_PUBLIC_FIREBASE_projectId=
NEXT_PUBLIC_FIREBASE_storageBucket=
NEXT_PUBLIC_FIREBASE_messagingSenderId=
NEXT_PUBLIC_FIREBASE_appId=
NEXT_PUBLIC_FIREBASE_measurementId=
NEXT_PUBLIC_GGMAP_apiKey=
NEXT_PUBLIC_ADMIN_EMAIL=
NEXT_PUBLIC_AGENT_DEFAULT_IMAGE=
